.pagination-container {
  width: 100%;
  border: 1px solid #fff4;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
}

.btn-new {
  background: #e6e6e6;
  border: 1px solid #fff4;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-new:hover {
  transform: scale(1.1);
  box-shadow: 5px 0 5px #fff2;
}

.pagination-container-inner {
  margin-left: auto;
  width: fit-content;
}

:is(.page-input, .limit-input) {
  width: 25px;
  height: 25px;
  margin: 0 0.5rem;
  vertical-align: middle;
  text-align: center;
}

.is-big-input {
  width: 50px;
}

:is(.page-input, .limit-input)::-webkit-outer-spin-button,
:is(.page-input, .limit-input)::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
